@import '_lib'


#expenses
	color #fff;

	h2
		margin 0 0 20; font-weight 100; font-size 30px;


.expenses-form
	.form
		position relative;

	.form-calendar
		pos 0 auto 0 0; width 220;

	.form-row
		clear both; overflow hidden; padding 0 0 20;
		margin-left 220px;

	.btn-add
		margin-left 330px

	.category
		width 200;

	.amount
		width 100; text-align right; margin-left 10px;

	.btn-split
		margin-left 10px;



.expenses-table
	pos auto 10 10 10;

	table
		width 100%; border-collapse collapse;

		td
			border #ccc; padding 7;

		thead td
			bg rgba(#fff, .3);


	.amount
		text-align right;