@import '_lib'

#expenses
	.btn-reset
		color rgba(#fff, 0.6); u 0; font 24; vertical-align bottom;
		margin-left 10px; transition color .3s ease-out;
		&:hover
			color #fff;
		&:active
			color #888;

.expenses-table
	pos 60 0 10 500;

	.grid-body .amount
	.grid-footer .amount
		text-align right;
