@import '_lib'


#menu
	color #fff; list-style none; margin 0; padding 10 0 0;
	pos top-height auto 0 0;
	width menu-width;


	.fa
		margin 0 auto;
		padding 25 0; font 0; u 0; show 2; text-align center;
		color #666; transition color .3s ease-out;

		&:before
			font 32;

		&.active
		&:hover
			color #fff; outline none;


	.fa-shopping-cart
		padding-right 3px;
