@import '_lib'

#expenses
	h2
		bg body-bg; position relative; z 9;

	.btn-reset
		color rgba(#fff, 0.6); u 0; font 21; vertical-align baseline;
		margin-left 10px; transition color .3s ease-out;
		&:hover
			color #fff;
		&:active
			color #888;

.expenses-form
	position relative; z 9; bg body-bg;

	.subforms
		overflow-y auto;

	.form-row
		clear both; overflow hidden; padding 2 2 20;

	.btn-add
		float right; b 1;

	.category
		width 120;

	.amount
		width 78; text-align right;

	.description
		width 180;

