@import '_lib'


#calendar
	pos 0 10 auto 340; height top-height; padding 5 0 0;

	.calendar-day
		show 1; margin-left 50

	.calendar-week
		show 1; margin-left 20

	.calendar-month
		float right; margin-left 50; margin-right 10

	.date
		bg none; border none; width 120; padding 0 0 4; text-align center;
		color #fff; cursor default; font 18;

		&:hover
			u 1;
	.btn
		show 1; u 0; color #888; padding 7 5; font 16/1; vertical-align top; transition color .2s;

		&:hover
			color #fff;
		&:active
			color #aaa;
		&.highlight
			bg rgba(#fff, 0.2); color #eee; border-radius 13;

	.btn-today
		padding-top 7

	.btn-hidden
		show 0

	.fa-chevron-left
	.fa-chevron-right
		line-height 1.2


.pika-single
	border 0;

	&
	.pika-button
	.pika-table th
		font 100 15px/1 'Open Sans', sans-serif;

.pika-table th
	padding 5 0 10;
	abbr
		cursor default;

.pika-label
	font 15/1; font-weight 400; padding 5 3 10

.pika-button
	bg #fff;

.is-selected .pika-button
	border-radius 0; shadow none;

.pika-button:hover
	bg #ff8000; border-radius 0 !important;
