@import '_lib'

border-color = #fff;
border-width = 1px;
item-height = 2.1em;
offset = 1em;			// indentation


.category-tree
	margin 20 10 30; padding 0; list-style none;

	ul
		margin 0; position relative; margin-left offset

		ul
			margin-left (offset / 2)

		&:before
			content ''; pos 0; bottom 0; left 0; width 0; display block
			border-left border-width solid border-color

	li
		position relative; margin 0; color #fff; line-height item-height;
		padding 0 (offset + 0.2em)

	ul li:before
		content ''; pos(); left 0; display block; height 0
		border-top border-width solid border-color
		margin-top -(border-width)
		top (item-height / 2)
		width (offset / 1.3)

	ul li:last-child:before
		height auto; bottom 0; background #2C3844; top (item-height / 2)

	.cat
		color #fff; u 0;
		&:hover
			u 1;


// #categories
