@import "_lib";

h1, h2, h3, h4, h5
	font-family main-font; font-weight 400; margin 0; padding 0;

h2
	padding 15 0 20; margin 0; font-weight 100; font-size 30px;
	bg body-bg; position relative; z 9;


	.btn-reset
		color rgba(#fff, 0.6); u 0; font 21; vertical-align baseline;
		margin-left 10px; transition color .3s ease-out;
		&:hover
			color #fff;
		&:active
			color #888;
