@import '_lib'

border-color = #fff;
border-width = 1px;
item-height = 2.1em;
offset = 1em;			// indentation

.category-tree
	&
	ul
		margin 0; padding 0; list-style none

	ul
		position relative; margin-left offset

		ul
			margin-left (offset / 2)

		&:before
			content ''; pos 0; bottom 0; left 0; width 0; display block
			border-left border-width solid border-color

	li
		position relative; margin 0; color #fff;
		padding 0 (offset + 0.2em)
		line-height item-height

	ul li:before
		content ''; pos(); left 0; display block; height 0
		border-top border-width solid border-color
		margin-top -(border-width)
		top (item-height / 2)
		width (offset / 1.3)

	ul li:last-child:before
		height auto; bottom 0; background body-bg; top (item-height / 2)

