@import '_lib'

form-width = 475px;

#income
	h2
		bg body-bg; position relative; z 9; width form-width;
	.btn-split
	.btn-del
	.btn-reset
		color rgba(#fff, 0.6); u 0; font 21; vertical-align baseline;
		margin-left 10px; transition color .3s ease-out;
		&:hover
			color #fff;
		&:active
			color #888;

.income-table
	pos 0 0 0 500; bg rgba(#000, .4); shadow 2 0 3 #000 0.3 inset;

	.grid
		pos 10 10 10 15;

	.grid-body .amount
	.grid-footer .amount
		text-align right;


.income-form
	position relative; width form-width; z 9; bg body-bg;

	.subforms
		overflow-y auto;

	.form-row
		clear both; overflow hidden; padding 0 0 20;

	.btn-add
		float right; b 1;

	.amount
		width 70; text-align right; margin-left 5px;

	.description
		width 180; margin-left 5px;

	.fa
		color #fff; u 0; padding 2 4; height 27;

	.btn-split
	.btn-del
		margin-left 5px;

// .repeat-ch
.repeat-in
	size 40 19; padding 0 0 0 5; margin-left 3; border none;


.preview
	position absolute; bottom 0; size 480 242; margin 50 0 0; opacity 0.5;
	transition opacity .3s ease-out; pointer-events none;

	&.hidden
		opacity 0;

	.preview-table
		position relative; margin 10 0 0;
		.fa-sort
			show 0;
		.grid
			min-height 204px;

		.grid-body .amount
		.grid-footer .amount
			text-align right;

		.warn .fa
			color #FF6A44; margin-right 5;
			position relative; top -1;
