@import '_lib'

.charts-wrapper
	pos 55 0 20 10;

.chart
	float left; size 49% 50%; min-height 350px; position relative; overflow hidden;
	margin 0 1% 1% 0; bg body-bg-dark; border-radius 2px;

.chart2
	width 99%;
