@import '_lib'

// chart-height = 350px

.charts-wrapper
	pos 55 0 20 10;

.chart
	float left; size 49% 50%; min-height 350px; position relative; overflow hidden;
	margin 0 1% 1% 0; padding 10; bg rgba(#000, .4); border-radius 2px;

.chart-container
	size 100%; margin 0;


// .chart .legend
// 	pos 50; left 20; max-height (chart-height - 75px); overflow hidden;
// 	margin 0; padding 0; list-style none;

// 	.no-data
// 		show 2; padding 20 0; color #aaa; text-align center; font 14;

// 	li
// 		position relative; show 2; padding 1 5 3 22; cursor default; margin-bottom 7;
// 		bg #2C3844; font 12; opacity 0.8; transition all .2s ease-out;

// 		&:hover
// 			opacity 1
// 		.sq
// 			pos 0; left 0; show 2; size 15; border-radius 2px
// 		.val
// 			padding-left 5; color #bbb;


// .chart1 .legend
// 	pos 50 10; left auto;
// 	li
// 		float right; margin-left 20;
// 		.sq
// 			bg #eee;

// 	.inc .sq
// 		bg #dcdcdc;

// 	.exp .sq
// 		bg #97bbcd;




.chart2
	width 99%;
// 	.chart-container
// 		height 100%; margin 0;
