@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/pikaday/css/pikaday.css";
@import "../node_modules/grid/src/";

@import "_lib";


html
body
	-ms-text-size-adjust 100%; -webkit-text-size-adjust 100%;
	size 100%; overflow hidden; position fixed; // <- chrome scroll bug

body
	margin 0; font 400 15px/1 main-font; cursor default; color #fff; bg #282828 'noise.png' 0 0 repeat;

*
	box-sizing border-box;
