@import "_lib";


html
body
	-ms-text-size-adjust 100%; -webkit-text-size-adjust 100%;
	size 100%; overflow hidden; position fixed; // <- chrome scroll bug

body
	margin 0; font 400 15px/1 'Open Sans', sans-serif; cursor default; color #fff;
	bg #282828 'noise.png' 0 0 repeat;

*
	box-sizing border-box;

h1, h2, h3, h4, h5
	font-family 'Open Sans', sans-serif; font-weight 400; margin 0; padding 0;

h2
	padding 0 0 20; margin 0; font-weight 100; font-size 30px;

label
button
input
select
	font inherit; height 27; vertical-align top; margin 0;
	option, &
		&::-moz-focus-inner
			padding 0; border 0; outline none;

button
input
select
form a
	&:focus
		outline 1px solid #FF7F00; shadow 0 0 2 1 #FF7F00 .6;

input[type=radio]
input[type=checkbox]
	height 18; margin 0 10 0 0;

select
input
	border none; padding 0 5; bg #f5f5f5; transition all .3s ease-out;
	&:focus
		bg #fff;

.select-wrap
	position relative; float left; bg #f5f5f5; margin-right 2;
	&:after
		font-family FontAwesome; font 13; content ''; pos 0 0; size 26;
		color #444; text-align center; padding 6 0 0; box-sizing border-box
		z 0; opacity 0.3; transition opacity .3s ease-out;
	&:hover:after
		opacity 1;
	select
		-moz-appearance none; -webkit-appearance none; appearance none; z 1;
		position relative; padding-right 25; bg none; border none; margin 0;


button
	cursor default; padding 0 15; bg #d9d9d9; color #222; outline none; font 14/1;
	border 1px solid transparent;

	// bg #008287; color #fff;
	// bg #1d1d1d; color #fff;

	&:focus
		border 1 dotted #353535;

	&:active
		bg #aaa;

	&:disabled
	&.disabled
		bg #eaeaea; color #bebebe; cursor not-allowed;

	&.primary
		bg #16499a; color #fff;

	&.info
		bg #4390df; color #fff;

	&.success
		bg #60a917; color #fff;

	&.warning
		bg #fa6800; color #fff;

	&.danger
		bg #9a1616; color #fff;

	&.link
		bg transparent; color #2e92cf;
